$Very_dark_cyan: hsl(183, 100%, 15%);
$Dark_grayish_cyan: hsl(186, 14%, 43%);
$Grayish_cyan: hsl(184, 14%, 56%);
$Light_grayish_cyan: hsl(185, 41%, 84%);
$White: hsl(0, 0%, 100%);

@mixin fFlexbox($height, $width, $direction){
    flex-direction: $direction;
    text-align: center;
    justify-content: center;
    display: flex;
    width: $width;
    height: $height;
}

@font-face {
    font-family: 'my-font';
    src:url('/Fonts/SpaceMono-Bold.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: fit-content;
    font-family: 'my-font';
    background-color: $Light_grayish_cyan;
    font-weight: 300;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #container{
    @include fFlexbox(100vh, 100vw, row);   
    min-width: fit-content;
    min-height: fit-content;
    flex-wrap: wrap;

    #title{
        @include fFlexbox(25vh, 100vw, row);
        align-items: flex-end;
        h1{
            height: fit-content;
            width: 10rem;
            letter-spacing: 1rem;
            padding-bottom: 1rem;
            color: $Very_dark_cyan;
        }
    }
    main{
        @include fFlexbox(75vh, 100vw, row);

        #calculator{
            @include fFlexbox(27rem, 47rem, row);
            background-color: $White;
            margin-top: 3rem;
            border-radius: 1rem;
            align-items: center;
            column-gap: 1.5rem;
            #inputs{
                @include fFlexbox(90%,45%, row);
                border-radius: 1rem;
                background-color: $Dark_grayish_cyan;
                flex-wrap: wrap;
                #bill{
                    
                }
                #tip{

                }
                #people{

                }
            }
            #results{
                @include fFlexbox(90%, 45%, row);
                background-color: $Very_dark_cyan;
                border-radius: 1rem;
            }
        }
    }
  }